tests:
  # Regression test for https://github.com/RoboStack/ros-humble/issues/274
  - script:
    - if: osx
      # See https://github.com/RoboStack/ros-lyrical/pull/56 for the macOS discovery failure and rationale.
      then: export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp CYCLONEDDS_URI='<CycloneDDS><Domain><General><Interfaces><NetworkInterface name="lo0" multicast="true" allow_multicast="true"/></Interfaces></General></Domain></CycloneDDS>' && launch_test robot_state_publisher_smoke_test_launch.py
[% if distro == "humble" %]
    # win-64 (humble) hits a "Type support not from this implementation" /
    # "rcl node's rmw handle is invalid" crash with the default RMW; use
    # rmw_cyclonedds_cpp there too (batch syntax: win test scripts run in cmd.exe).
    - if: win
      then:
        - set RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
        - launch_test robot_state_publisher_smoke_test_launch.py
    - if: linux
      then: launch_test robot_state_publisher_smoke_test_launch.py
[% else %]
      else: launch_test robot_state_publisher_smoke_test_launch.py
[% endif %]
    requirements:
      run:
        - ros2-launch-testing-ros
        - ros2-rcl-interfaces
        - ros2-rclpy
    files:
      recipe:
        - robot_state_publisher_smoke_test_launch.py
